//---DB for jade view array

//EXAMPLE
//- var comments = []
//- comments.push({author: "Анжелика", date: "25.07.2015", text: "Летом я очень много времени провожу на природе, и по вечерам в том числе. Конечно без средства от комаров обойтись не могу. В этот раз я купила спрей о комаров, мошек, спрей PICNIC. За 4 часа вечером на речке меня не укусил не один комар. Я считаю его достойным защитником в борьбе с летающими кровопийцами."})
//- comments.push({author: "Славик", date: "08.07.2015", text: "Мне нравится Пикник. Хорошо защищает от насекомых на природе и дома."})
