//---js
//---js community
//---js jquery
script(language="JavaScript", type='text/javascript', src='vendor/jquery/dist/jquery.min.js')
//
//script(language="JavaScript" type="text/javascript" src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU")
//---js local
script(language="JavaScript" ,type='text/javascript', src='js/local/app.js')