extends ./_template/template.jade

block title
  title {page_tittle}

block header
  include _includes/header

block content
  #main
    .wrapper.
      temp

block js-page
  //script(language="JavaScript", type='text/javascript', src='{name_file}.js')


